<!DOCTYPE html>
<html class="h-full  bg-white ">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Mi App{% endblock %}</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body class="h-full flex flex-col  items-center bg-gray-100">
  <!-- Importar el Navbar -->
  {% include 'navbar.html' %}

  <!-- Importar el Sidebar -->
  {% include 'sidebar.html' %}
  {% block content %}{% endblock %}

</body>
{% if request.session.flash_message %}
<script>
    Swal.fire({
        title: "{{ request.session.flash_message.text }}",
        icon: "{{ request.session.flash_message.type }}",
        confirmButtonText: "Aceptar"
    }).then(() => {
        // Eliminar el mensaje de la sesión sin que el usuario tenga que recargar
        fetch("/clear_flash_message").then(() => {
            console.log("Mensaje eliminado de la sesión.");
        });
    });
</script>
{% endif %}



</html>